@import "../../ui-styles/variables";

.MuiButtonBase-root {
  &.size {
    width: 5rem;
    height: 2rem;
    border-radius: 2px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 10px 0 0;
    color: $typo-white;
    cursor: pointer;

    &:hover {
      cursor: pointer;
    }

    &.selected {
      background-color: $doc-red;
      span {
        color: $typo-white;
      }
    }

    span {
      font-size: 16px;
      text-transform: capitalize;
      color: $typo-dark-grey;
    }
  }
}
.MuiButton-contained {
  &.size {
    background-color: $size-background;
  }
}