.colorWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 980px) {
  .colorWrapper {
    justify-content: initial;
    align-items: initial;
  }
}