$doc-black: #2E2E2E;
$doc-red: #f62F5E;
$doc-blue: #6EB2FB;
$doc-orange: #F1AD3D;
$doc-grey: #F7F7F7;
$doc-green: #00D3CA;
$doc-yellow: #EFFC90;

$typo-black: #2E2E2E;
$typo-dark-grey: #6C6C6C;
$typo-light-grey: #B4B4B4;
$typo-red: #F62F5E;
$typo-white: #FFFFFF;

$size-background: #EFEFEF;

$icon_color: #2F2F2F;
$icon_background: $size-background;

// maps
$font-family: (
  "playFair": 'Playfair Display',
  "montserrat": 'Montserrat',
  "opensans": 'Open Sans'
);
$font-size: (
  "H1": 48px,
  "H2": 24px,
  "H3": 16px,
  "Topbar": 15px,
  "Bodynormal": 16px,
  "Bodysmall": 12px
);
$line-height: (
  "150": 150%,
  "240": 240%,
  "200": 200%
);