@import "../../ui-styles/variables";
@import "../../ui-styles/placeholders";

.inputPagination {
  .minus,
  .pageNumSelect {
    margin: 0 10px;
  }
  &.MuiBox-root {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media (min-width: 980px) {
    &.MuiBox-root {
      justify-content: initial;
    }
  }
  .MuiOutlinedInput-input {
    padding: 8.5px 14px;
  }
  .MuiIconButton-root {
    padding: 0;
  }
  .MuiButtonBase-root {
    .MuiSvgIcon-root {
      @extend %svg_icon_root;
    }
  }
}
