.inputPagination .MuiOutlinedInput-input {
  padding: 8.5px 14px;
}
.inputPagination .MuiButtonBase-root .MuiSvgIcon-root {
  color: #2f2f2f;
  background: #efefef;
  border-radius: 50%;
}
.inputPagination.MuiBox-root {
  display: flex;
  align-items: center;
}
.inputPagination .MuiIconButton-root {
  padding: 0;
}