@import "../../ui-styles/variables";
.expandableSearch {
	position: relative;
	.MuiIconButton-root {
		position: absolute;
		z-index: 1001;
	}
  .MuiOutlinedInput-root {
		border-radius: 15px;
		.MuiOutlinedInput-notchedOutline {
			border-width: 0;
			transition: all 0.5s;
		}
  }
  .MuiOutlinedInput-input {
		width: 0;		
		padding: 14.5px 14px 14.5px 50px;
    transition: all 0.5s;
    &:focus {
			width: 15rem;			
			+.MuiOutlinedInput-notchedOutline {
				border-width: 1px;
			}
    }
	}
	.MuiSvgIcon-root {
		color: $typo-white;
	}
}
